<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Shay Sayed" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link
    rel="icon"
    href="https://shays.space/assets/favicon.ico"
    sizes="32x32"
  />
  <link
    rel="icon"
    href="https://shays.space.com/assets/icon.svg"
    type="image/svg+xml"
  />
  <link rel="stylesheet" href="https://shays.space/styles.css" />

  <script
    defer
    data-domain="shays.space"
    src="https://plausible.io/js/script.js"
  ></script>

  {% seo %}
</head>
