---
layout: default
---

<main>
  <article>
    <div class="wrap">
      <div>
        <h1>{{ page.title }}</h1>
        <div class="muted ms2 font-ui">
          <time datetime="{{ page.date | date_to_xmlschema }}"
            >{% if page.type != 'pages' %} {{ page.date | date: "%B %-d, %Y" }}
            {% endif %}
          </time>
          ·
          <span class="reading-time" title="Estimated read time"
            >{{ page.content | reading_time | append : " minute read"}}</span
          >
        </div>
      </div>

      <content> {{ content }} </content>
      <hr />
    </div>
  </article>
</main>
